<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">IoNote</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="swiper-no-swiping">

    <div class="container top">
        <ion-segment (ionChange)="segmentChanged($event)" mode="md" value="login">
            <ion-segment-button mode="md" value="login">
                <ion-label>Login</ion-label>
            </ion-segment-button>
            <ion-segment-button mode="md" value="register">
                <ion-label>Cadastro</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-slides>
        <ion-slide>
            <div class="slide-inner ion-padding">
                <span>Login</span>

                <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email">
                    </ion-input>
                </ion-item>

                <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password">
                    </ion-input>
                </ion-item>

                <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
                    Entrar
                </ion-button>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide-inner ion-padding">
                <span>Cadastro</span>

                <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="text" placeholder="Nome"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
                </ion-item>

                <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
                    Cadastrar
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
<!--
    <ion-button (click)="register()" class="ion-margin-top" color="tertiary" expand="block">
        <a style="color: lightgray; font-size: 0.7rem;" class="ion-text-center" href="#" onclick="window.open('https://ra180608.page.link/test', '_system', 'location=yes'); return false;"> 
            Não possui o app? Faça o download agora
        </a>
    </ion-button>
-->
    <ion-button class="ion-margin-top" (click)="openWebpage('https://ra180608.page.link/test')" color="tertiary" expand="block" style="color: lightgray; font-size: 0.7rem;">
        Não possui o app? Faça o download agora
    </ion-button>
</ion-content>